body {
	font-family: Arial;
	margin: 0px;
	padding: 0px;
}

.active {
	text-decoration-line: underline;
	color: #000000;
	margin: 0px 10px;
}

.non-active {
	text-decoration-line: none;
	color: #666666;
	margin: 0px 10px;
}

a:hover {
	text-decoration-line: underline;
}